# The Blue Alliance API Key
# Get your key at: https://www.thebluealliance.com/account
VITE_TBA_API_KEY=03C7MTlKGlnEJ0r0fPPAkRXCTtL0GD68XkcUdPv9HlrWGrZ9kt7kiC4dGPV2Quif-TBA-Auth-Key


# Nexus Stats API Key
# Get your key at: https://frc.nexus/
VITE_NEXUS_API_KEY=tK3so1cw-AZuQy4FK1vZmOT6t_g

